<h2>All Heroines</h2>

<br>
<br>

Search by superpower:
<%= form_tag heroines_path, method: :get do%>
<div class="form">
<%= label_tag "Superpower:" %>
    <%= collection_select :search, :id, Power.all, :id, :name %>
<%= submit_tag "Search" %>
</div>
<%end%>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
