<%= form_for @heroine do |f|%>
<%= f.label "What is your name" %>:
  <%= f.text_field :name %><br />
  <%= f.label "What is your SUPER name" %>:
  <%= f.text_field :super_name %><br />
<div class="select is-block">
<%= f.label "Superpower:" %>
    <%= f.collection_select :power_id, Power.all, :id, :name %>
<%= f.submit %>
</div>
<%end%>