<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="btn-container">
      <%= button_to("All Superpowers", powers_path, :method => :get, :form_class => "btn_container") %>
      <%= button_to("All Super Heroines", heroines_path, :method => :get, :form_class => "btn_container") %>
      <br>
    </div>
    <%= yield %>
  </body>
</html>
