<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="wrapper">
          <header class="page_header">
             <div class="nav_bar">
                <%= link_to 'Home', home_path %> &emsp;
               <%= link_to 'Heroines', heroines_path %> &emsp;
               <%= link_to 'Powers', powers_path %> &emsp;
               <%= link_to 'New Heroine', new_heroine_path %> &emsp;
             </div>

             <div class="head_logo">
                <img class="logo" src="/assets/Flatiron-School-Logo.png" alt="The FlatIron school logo.">
             </div>
          </header>
      <hr>

     <div style ="color:red">
         <% if flash[:errors]%>
         <% flash[:errors].each do |inst| %>
         <%= inst %>
         <%end%>
         <%end%>
     </div>

      <div class="body_content">
          <%= yield %>
      </div>
  </body>
</html>
