<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Superheroine App!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  
  <nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info"><%= link_to 'new heroine', new_heroine_path %></a>
  </p>

  <div class="level-item has-text-centered">
    <div>
      <p class="title">HEROINES</p>
    </div>
  </div>
  <p class="level-item has-text-centered">
    <a class="link is-info"><%= link_to 'all heroines', heroines_path %></a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info"><%= link_to 'all superpowers', powers_path %></a>
  </p>
</nav>
<% if flash[:errors] %>
    <div class="control">
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
    <% end %>
  </head>
  <body>
  
    <%= yield %>
  </body>
</html>
